@{
    ViewBag.Title = "O nás";
}
<h2>@ViewBag.Title.</h2>
<h3>Co to tu je?</h3>

<p>Tato webová aplikace slouží jako informační systém pro pub U Majkla na tradiční obřanské Street Party (<a href="http://www.streetparty.cz/">www.streetparty.cz</a>). Provozovateli slouží jako evidence a hostům jako informace, kolik toho už vypili!</p>
<p>Pub U Majkla najdete každý rok na Street party v horní části Kmochovky! Nabídneme vám točené pivo, a to je tak všechno...</p>
<p>Otevírací doba je jednoduchá: jeden den v roce, a to ten, kdy je Street party. Začínáme v poledne a končíme druhý den okolo druhé až třetí ráno, nebo až dojde pivo!</p>

<h3>Co točíme?</h3>

<p>Pivo! Letos možná bude i Kofola nebo malinovka pro děti i řidiče.</p>
