@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>Kde nás najdete?</h3>

<address>
    Pub U Majkla<br />
    <abbr title="Kmochova ulice">Kmochovka</abbr><br />
    Brno - Obřany
</address>

<address>
    <strong>Provozovatel</strong><br />
    Michal Krejčí<br />
    Jop, bydlím v Praze...<br />
    <abbr title="Mobilní telefon">M:</abbr>
    603 247 428
</address>